.int{
    color: yellow;
    text-align: center;
    font-weight: bolder;
}
.line{
    border-radius: 200px;
    border-style: dotted;
    border-color: beige;

}
.jun{
    text-align: center;
    color: aqua;
    font-size: x-large ;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body{
    background-image: url('images/bs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
 
.pt{
    
    display: grid;
    margin-left: 100px;
    height: 300px;
    width: 300px;
}

.pt:hover{
    background-color: rgb(196, 196, 16);
    width: 280px;
    height: 280px;
}
.tin{
    margin: 50px;
    font-weight: 700;
    padding-left: 50px;
    text-align: center;
    justify-items: center;
    text-transform: uppercase;
    width: 270px;
    color: wheat;
    animation: gradientText 1s infinite;
    
}
@keyframes gradientText{
    0%{
        color: red;
    }
    25%{
        color: aqua;
    }
    50%{
        color: rgb(248, 151, 5);
    }
    100%{
        color: brown;
    }
}
.container{
    display: grid;
}
.row{
    display:flex;
    
}
.column{
    width: 300px;
}
.but{
    margin-left: 50px;
    background-color: rgb(233, 229, 229);
    width: 270px;
    justify-content: center;
    text-align: center;
    height: 30px;
    margin-left: 60px;
    font-style: italic;
    font-weight: 900;
}
.v3{
    margin-left: 30px;
    border-right: 3px solid rgb(245, 243, 241);
    margin-right: 20px;
    
}
.but:hover{
    background-color: aqua;
    color: rgb(228, 11, 112);
    width: 250px;
    height: 20px;
}

.column{
    width: 1000px;
    text-align: center;
    margin-top: 100px;
}
a{
    color: wheat;
    text-align: center;
}
nav{
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
.view{
    background-color: wheat;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-left: 650px;
    margin-top: 100px;
}

.view:hover{
    width: 100px;
    height: 20px;
    background-color: aqua;
    color: white;
}
